
<section>
    <style>
            .west-toggler-collapse {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
                color: #ffffff;
                font-size: 14px !important;
                height: 200px;
                width: 200px;
                /*float: left;*/
                margin-left: 10px;
                /*vertical-align: top;*/
            }

            .west-toggler-expand {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                color: #ffffff;
                font-size: 14px !important;
                height: 200px;
                width: 200px;
                -left: -100px;
                /*float: left;*/
                margin-left: -150px;
                padding-top: 10px;
                /*vertical-align: bottom;*/
            }

            .handle {
                border: 1px dotted orange;
                padding: 4px;
            }
    </style>


    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(document).ready(function () {

                Gnx.init();
                Gnx.appStart();

                history.pushState('', 'Home', '/#/home');
            });
        </script>

        <div id="wrapper">
            <!-- the content -->
            <div id="sub-content-center">
                <div class="pane ui-layout-center">
                    @*need this wrapping div to show propperly load mask if needed in feature*@
                    <div style="position: absolute; top: 0px; left: 0px; height: 100%; width:100%; overflow:auto; padding: 15px;">
                        @*actuall container that should be used to place anything inside center pane(panel)*@
                        <div id="center-inner" style="width:100%; height:100%;">
                            Center
                            <p><a href="http://layout.jquery-dev.com/demos.html"><b>Go to the Demos page</b></a></p>
                        </div>
                    </div>
                </div>

                @*<div class="pane ui-layout-north">North</div>
                    <div class="pane ui-layout-south">South</div>
                    <div class="pane ui-layout-east">East</div>*@
                <div id="west-pane-div" class="pane ui-layout-west">
                    <div style="position: relative; height: 100%; width:100%; overflow:auto;">
                        <div id="freewall" class="free-wall"></div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {

        <div class="row">
            <div class="col-lg-7">
                <div class="_5iyx">
                    Gnx Platform pomaga kontaktować się z innymi osobami i udostępniać im różne informacje i treści.
                </div>
                <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/pyNVUg5EM0j.png" alt="" height="195" width="537" />
            </div>
            <div class="col-lg-5">
                @Html.Partial("~/Views/Account/Login.cshtml")
            </div>
        </div>

    }

</section>
