@model IEnumerable<Portal.Models.ModuleModels>

<section id="module-view" class="subpage-body view">

    <h2>Modules here - Would be great to start playing with knockout</h2>

    <script>
        // on document ready
        $(document).ready(function () {
            // bind view model to referring view
            ko.applyBindings(Gnx.KoViewModels);

            // load student data
            Gnx.KoViewModels.modulesViewModel.getModules();
        });
    </script>



    <div class="row" style="overflow:auto;" data-bind="with: modulesViewModel">
        <div class="col-lg-3">
            <div class="panel-body">
                @Html.Partial("~/Views/ModuleModels/_Create.cshtml")
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel-body" >
                @Html.Partial("~/Views/ModuleModels/_List.cshtml")
            </div>
        </div>
    </div>

</section>