@model IEnumerable<Portal.Models.ModuleModels>

<section id="module-view" class="subpage-body view">

    <h2>Modules here - Would be great to start playing with knockout</h2>

    <script>
        // on document ready
        $(document).ready(function () {
            // bind view model to referring view
            ko.applyBindings(moduleRegisterViewModel);

            // load student data
            moduleRegisterViewModel.moduleListViewModel.getModules();
        });
    </script>



    <div class="row" style="overflow:auto;">
        <div class="col-lg-4">
            <div class="panel-body" data-bind="with: addModuleViewModel">
                @Html.Partial("~/Views/ModuleModels/_Create.cshtml")
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel-body" data-bind="with: moduleListViewModel">
                @Html.Partial("~/Views/ModuleModels/_List.cshtml")
            </div>
        </div>
    </div>

</section>