
.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-width: 100%;
    width: 100%;
}

.body-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden !important;
}


.footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
}

/*copied from FB*/
._5iyx {
    color: #0E385F;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    padding-left: 20px;
    width: 450px;
    word-spacing: -1px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Segoe UI", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 16px;
}

#container {
    background: #999;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    min-width: 700px;
    _width: 700px; /* min-width for IE6 */
}

.pane {
    display: none; /* will appear when layout inits */
}