@{
    ViewBag.Title = "About";
}

<section id="about-view" class="subpage-body view" style="display: none;">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

</section>
